body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

/* تنسيق الشريط العلوي */

.navbar {
    background-color: #1b1b1b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* تنسيق الشعار */
  #logo img {
    width: 100px;
    height: auto;
  }
  
  /* إضافة استايل للقائمة المنسدلة */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff7a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.dropdown-content li a{
  color: #000000;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content li a:hover{
  background:#bc96677a;
  border-radius: 0.4rem;
  transition: 0.2s all linear;
}

.dropdown:hover .dropdown-content {
  display: flex; /* يظهر العناصر بشكل مسلسل عند التحويل */
  flex-direction: column; /* تحديد الاتجاه إلى عمودي (تحت بعض) */
}

.dropdown span {
  text-decoration: none; 
  font-weight: bold; 
  padding: 8px 17px;
  color:#ffffff;
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

  /* تنسيق القائمة */
  .navbar-nav {
    display: flex;
    flex-grow: 1; /* يساوي 1 لتمتد القائمة على العرض المتبقي */
    align-items: center;
    list-style: none; /* إزالة نقاط القائمة */
    padding: 0; /* إزالة التباعد الداخلي للقائمة */
    justify-content: center; /* توسيع القائمة في الوسط */
  }
  
  .navbar-nav li {
    display: inline-block; /* عرض العناصر جنبًا إلى جنب */
    margin-right: 25px; /* تباعد بين العناصر */
  }
  .navbar-nav h4{
    padding: 2px 0px 0px 30px;
   
  }
  .navbar-nav li a{
    text-decoration: none;
  }
  .navbar-nav li a h2{ 
    font-weight: bold; 
    padding: 8px 17px;
    color:#ffffff;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  
  .navbar-nav a h2:hover {
    background:#bc96677a;
    border-radius: 0.4rem;
    transition: 0.2s all linear;
  }
  
  .btn {
    display: inline-block;
    padding: 5px 15px;
    margin: 20px;
    background-color:#bc9667; /* لون خلفية الزر */
    color: #fff; /* لون النص */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* تحويل نعومة التغيير عند التحويل */
  }
  
  .btn:hover {
    background-color:#fff; /* لون خلفية الزر عند التحويل */
    color: #000000;
  }
  #result-container {
    margin-top: 10px;
    color: #ddd;
    
}

  /* تنسيق قسم الرئيسية */
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:url(images/bg.png);
    color: #ffffff;
    padding: 80px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .home-content {
    max-width: 500px;
  }

  .home h2 {
    font-size: 3.6em;
    margin-bottom: 20px;
  }

  .home h4 {
    font-size: 1.4em;
    margin-bottom: 30px;
  }

  #home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bc9667;
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 5px;
    /* transition: background-color 0.3s; */
    transition: transform 0.3s ease;
  }

  #home-btn:hover {
    transform: scale(1.05);
    background-color:#fff; /* لون خلفية الزر عند التحويل */
    color: #000000;
  }

  .img {
    flex-shrink: 1;/* اذا كانت 1 يسمح بالانكماش اما 0 لا يسمح*/
  }

  .img img {
    max-width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
  }

  .top-section {
    background-color: #edeae3;
    text-align: center;
    padding: 40px 20px;
    padding: 150px;
    
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    margin-top: 100px;
    display: flex;
    padding: 0;
    justify-content:flex-start;
  }
  
  .social-icons li {
    margin: 0 10px;
    padding: 0; 
    
  }
  .social-icons a {
    text-decoration: none;
    padding: 10px;
    color: #bc9667;
    font-size: 24px;
  }
  .social-icons i {
   
    transition: transform 0.3s ease;
  }
  
  .social-icons i:hover {
    color: #fff;
    transform: scale(1.35);
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
    flex-wrap: wrap;
    margin: 30px;
  }
  
  
  
  .card {
    background-color: #fff;
    border: 1px solid #bc9667;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    filter: drop-shadow(0px 3px 6px #000000);
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 250px;
    height: 280px;
    margin: 10px;
  }
  .card p{
    line-height: 1.2; 
    font-size: 1.1rem;
    max-width: 250px;
    overflow-wrap: break-word;
    text-align: center;
  }
  .card h3{
    font-size: 1.5rem;
  }
  
  .card-body {
    padding: 0px;
    text-align: center;

  
  }
  .rating {
    color: #f8d100;
    margin-bottom: 10px;
    font-size: 13px;
  }

 
  
  .menu {
    text-align: center;
    background-color: #edeae3;
    padding: 40px 20px;
    padding: 100px 5% 100px;
    
  }
  .menu h1{
    font-size: 3em;
  }

  
  .order-section {
    background-color: #edeae3;
    padding: 80px;
  }
  
  .order-col h1 {
    text-align: center;
    color: #000000;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .order-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .order-col {
    flex: 1;
  }
  
  .order-card img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .order-input {
    margin-bottom: 20px;
  }
  
  .order {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
  }
  
  .order-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #bc9667;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .order-btn:hover {
    background-color:#fff;
    color: #bc9667;
  }
  
/* تنسيق قسم "حول" */
main{
  background-color: #edeae3;
}
.about {
  text-align: center;
  padding: 60px;
  background: url(img/bg-about.jpg);
  border-radius: 0px 0px 15px 15px;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0);
}

.about p {
  font-size: 1.6em;
  line-height: 1.6;
}


  
  /* تنسيق قسم الصور */
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #fff;
    filter: drop-shadow(2px 2px 2px);
    width: 80%;
    margin: auto; 
    padding: 20px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .gallery h1{
    font-size: 1.9rem;
  }
  
  .container {
    width: 900px;
    margin: auto;
    position: relative;
  }
  
  .gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  
  .gallery-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  
  .gallery-item:hover {
    transform: scale(1.15);
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    
  }
  
  .gallery-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-70%);
  }
  
  .prev,
  .next {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    
  }
  
  .prev {
    margin-left: -70px; /* تحديد المسافة بين الزر الأيسر واللبوم */
  }
  
  .next {
    margin-right: -70px; /* تحديد المسافة بين الزر الأيمن واللبوم */
  }
  

  

  
  .footer {
    background-color: #1b1b1b;
    bottom: 0;
    text-align: center;
    color: #ddd;
    width: 100%; 
    font-size: 1.4em;
    padding: 1em;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    
  }

  






  